{% extends "base.html" %}
{% block css %}
    <link rel='stylesheet' href='../static/css/index.css' />
{% endblock %}
{% block title %}test{% endblock %}
{% block main %}
    <div id='formarea'>
        <form action='' method="get">
            <li>Productname:  <input type="text" name="productName" placeholder="keywords"/></li>
            <li>Price:  <input type="text" name="startp" placeholder="Low"/>~<input type="text" name="endp" placeholder="High"/><input type='submit' value='Search'></li>
            <li>Sorted: <input type='submit' value='Up' href='#' name='sort'><input type='submit' value='Down' href='#' name='sort'></li>
        </form>
    </div>
    <div class='info'>
        {% for p in outPut %}
            <div class= 'infoarea'>
                <ul>
                    <li><a href={{ p.url }}><img src= {{ p.photo_url }}></a></li>
                    <li>商品編號: {{ p.pid }}</li>
                    <li>商品名稱: {{ p.name }}</li>
                    <li id='goods_price'>價錢: {{ p.price }}</li>
                    <li>購買數量: </li><input class="{{ p.pid }}_buyNum" type='number' step='1' min='1' max='10' />
                    <input type='submit'  value='submit' onclick="sendtoSC('{{ p.pid }}','{{ p.name }}','{{ p.price }}')">
                </ul>
            </div>
            
        {% endfor %}
    </div>

{% endblock %}
{% block script %}
<script>
    function sendtoSC(pid,pn,pp) {

        var num=document.getElementsByClassName(pid+"_buyNum");

        console.log(pn,pp,num[0].value);

        var obj = {
            "pid":pid,
            "pn":pn,
            "pp":pp,
            "num":num[0].value
        };

        var myjson = JSON.stringify(obj);

        fetch('http://localhost:8080/buysome/shop',{
            method: "POST",
            headers: {
                'Content-Type':'application/json'
            },
            
            body:myjson,
        }).then((response)=>{
            return response.text();
        })
    };
</script>
{% endblock %}
