<html>
    {% load static %}
    <head>
    <!--base of css-->
    <!-- <link rel='stylesheet' href="../static/css/menucopy.css">
    <link rel='stylesheet' href="../static/css/mmenucopy.css"> -->

    <link rel='stylesheet' href="{% static 'css/menu.css' %}">
    <link rel='stylesheet' href="{% static 'css/mmenu.css' %}">
    {% block css %}{% endblock %}
    <title>The Juicy</title>

    </head>

    <body>
        <!--base of nav-->
        <div class="page">
            <div class="header">
                <a href="#menu" data-icon="grid"></a>
                <nav id="menu">
                    <ul>
                        <li>
                            <a href="{% url 'thejuicy' %}"> Home</a>
                        </li>
                        
                        <li>
                            <a href="#"> User</a>
                            <ul>
                                    <li>
                                        <a href="{% url 'Users:register' %}"> Signup</a>
                                    </li>
                                {% if request.user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'Users:profile' request.user.id %}">Profile</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Users:logout' %}"> Logout</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'Users:login' %}"> Login</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </li>
                        <li>
                            <a href='#'>Product</a>
                            <ul>
                                <li><a href="/Product/shopping"> 3C</a></li>
                                <li><a href="/buysome/shopcart"> Shopping cart</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/About/Contact">Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        {% block main %}{% endblock %}
        <!--base of javascrip-->
        <script src="{% static 'js/mmenu-js-master/dist/mmenu.polyfills.js' %}"></script>
        <script src="{% static 'js/mmenu-js-master/dist/mmenu.js' %}"></script>
        <script>
            new Mmenu(document.querySelector('#menu'));

            document.addEventListener('click', function (evnt) {
                var anchor = evnt.target.closest('a[href^="#/"]');
                if (anchor) {
                    alert("Thank you for clicking, but that's a demo link.");
                    evnt.preventDefault();
                }
            });
        </script>
        {% block script %}{% endblock %}
    </body>
</html>